<div class="cart--banner">
  <h1>your <span class="sniglet">ORDER</span> has been <span class="waiting-for-the-sunrise">PLACED</span></h1>
  <h4>It'll be on its way shortly.</h4>
  <%= image_tag('graphics/heart_100x100.gif') %>
</div>

<div class="share-order">
  <div class="social-share">
    
  <div>
</div>
