<div class="makers">

  <div class="makers--main">
    <h1>meet the makers</h1>
    <h2 class="label-christine">christine <span class="sniglet">cha</span></h2>
    <h2 class="label-kami"><span class="waiting-for-the-sunriset">KAMI</span> maltz</h2>
  </div>

</div>
