<div class="makers">

  <div class="makers--main">
    <h1>meet the <span class="sniglet">makers</span></h1>
    <div class="bio-christine bio">
      <h2>christine <span class="sniglet">cha</span></h2>
      <p>Bio coming soon.</p>
    </div>
    <div class="bio-kami bio">
      <h2><span class="waiting-for-the-sunrise">KAMI</span> maltz</h2>
      <p>Bio coming soon.</p>
    </div>
  </div>

</div>
