.designtool {
  h1 { text-align: center; }

  #strand {
    text-align: center;
  }

  .bead-area {
    background-image: url('editor/strand1.png');
    background-position: center;
    background-repeat: repeat-x;
    margin-left: auto;
    margin-right: auto;
    display: block
  }
  .bead-block {
    max-width: 10%;
    border: 3px dashed #eee;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 5px;
  }

}
