.designtool {
  text-align: center;

  .banner {
    height: 300px;
    background-image: url('textures/squiggles-01.png');
    background-size: 50%;
    background-repeat: repeat;
    background-position: center;
    background-color: #ffdcd7;
    padding: 50px 0;
    h1 { color: #fff; font-size: 70px; }
  }

  .strandPicker, .lengthPicker {
    .dropdown { background-color: #fff; }
    .option { }
    .selected { font-weight: bold; }
  }

  .strandPicker { min-width: 150px; }

  .priceDisplay {
    background-color: #fff;
    color: #000;
    border: 3px solid #fff !important;
  }

  .quantity {
    width: 80px;
    color: transparent;
    text-shadow: 0px 0px 0px black;
    margin-right: 5px;
  }

  .save-button {
    background-color: #ff9900;
    border: 3px solid #ff9900 !important;
    color: #fff;
  }

  .save-button:hover { font-weight: bold;}

  .pricetag {
    border: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    #product_price {
      border: none;
      max-width: 25px;
    }
  }

  .necklace-view {
    background-image: url('editor/strands/black & white.png');
    background-repeat: repeat-x;
    background-position: center;
    overflow: scroll;
    margin-top: 20px;
  }

  .beads { min-width: 800px; margin: 0; text-align: center; font-size: 8px; }

  .bead {
    height: 90px;
    display: inline-block;
  }

  .beadpicker {
    height: 280px;
    text-align: center;
    .beadOptions {
      i { font-size: 30px; }
      p { margin-bottom: 0; }
      .custom-dropdown {
        width: 150px;
        border: 3px solid black;
        .dropdown {
          border: 3px solid black;
          margin-left: -3px;
        }
        .option:hover { background-color: #000; color: #fff; }
      }
    }
  }

  .removeBead:hover { color: #ff9900; }

  .addBead {
    border: 2px solid black;
    background-color: white;
    box-shadow: none;
    p { font-size: 11px !important; }
  }

  .addBead { cursor: pointer; }
  .addBead:hover { opacity: .6; }


  @media (max-width:400px) {
    .banner {
      height: 400px;
      padding: 10px 0;
      h1 { font-size: 50px; }
    }
    .strandPicker, .lengthPicker, .necklaceNamer, .save-button, .custom-dropdown {
      display: block;
      margin: 5px 5%;
      width: 90% !important;
      height: auto;
      min-height: 50px;
    }
    .dropdown { width: 100%; position: relative; border-top: 1px solid #eee; }
    .option { min-height: 50px; padding-top: 12px; }
    .quantity { width: 19%; margin-right: 1%; }
    .priceDisplay { width: 70%; }
    .beads { text-align: left; padding: 0 10px; min-width: 800px; }
    .beadSelector { color: #fff; }
    .beadpicker { display: none; }
  }

}
