*:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  height: 1000px;
}

img { max-width: 100%; }

.container { margin: 0; padding: 0; width: 100%; }
