*:focus {
  border: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}

body {
  font-family: 'Quicksand', sans-serif;
}

p { margin-bottom: 0; }

p.note { font-size: 11px; }

img { max-width: 100%; }

.container-fluid { padding: 0; margin: 0; }
.bead-it-btn {
  border: none;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  background-color: white;
}

.bead-it-btn:hover {
  font-family: 'sniglet', sans-serif;
  font-weight: 800;
  font-size:25px;
}

.blinkers { height: 50px; margin-top: -10px; display: inline-block; }

.sniglet {
  font-family: 'Sniglet', sans-serif !important;
  font-weight: 800 !important;
}

.waiting-for-the-sunrise {
  font-family: 'Waiting for the Sunrise', cursive;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

input, .custom-dropdown {
  height: 50px;
  border: 3px solid white;
  box-shadow: none;
  font-size: 16px;
  background-color: #fff;
}
input[type=number]:focus, input[type=text]:focus, .focus {
  border: 3px solid black;
}
input { padding: 0 20px; }

.custom-dropdown {
  display: inline-block;
  .selector { padding: 11px 18px; cursor: pointer; }
  .dropdown {
    background-color: #fff;
    position: absolute;
    z-index: 5000;
    margin-top: 5px;
    cursor: pointer;
  }
  .option { margin: 5px; cursor: pointer; }
  .option:hover { background-color: #000; color: #fff; }
}

.btn {
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 50px;
  padding: 0 20px;
  vertical-align: inherit;
}

.btn:hover { font-weight: bold; }

.btn-primary {
  background-color: #ff789b;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active,
.btn-primary:after {
  background-color: #ff789b;
}

.btn-danger { padding: 14px 20px 0 20px; }

.bead-it-btn:focus { border: none !important; }
