.makers {

  .makers--main {
    background-image: url('photos/IMG_0123.png');
    background-size: cover;
    height: 500px;
    text-align: center;
    padding: 100px 20px;
    .label-christine {
      margin-top: 200px;
      float: left;

    }
    .label-kami {
      margin-top: 200px; 
      float: right;
    }

  }



}
