.necklace-view {
  background-image: url('editor/strand3.png');
  background-repeat: repeat-x;
  background-position: center;
  text-align: center;
  min-width: 1000px;
}

.beadpicker {
  display: none;
}

.bead {
  height: 80px;
  display: inline-block;
}
