<p>Shape</p>
<select class="shapePicker">
  <%= options_for_select([["square"], "donut"]) %>
</select>
<p>Pattern</p>
<select class="patternPicker">
  <%= options_for_select([["solid"], "sprinkles"]) %>
</select>
<p>Size</p>
<select class="sizePicker">
  <%= options_for_select([["small", 1], ["medium", 2], ["large", 3]]) %>
</select>
<br>
<p class="removeBead">Remove Bead</p>
