

<div class="beadOptions">

  <br>
  <div class="custom-dropdown shapePicker">
    <div class="selector">
      <p>SHAPE</p>
    </div>
    <div class="dropdown">
      <div class="option selected">square</div>
      <div class="option">tube</div>
      <div class="option">big round</div>
      <div class="option">small round</div>
      <div class="option">flat</div>
    </div>
  </div>
  <div class="custom-dropdown patternPicker">
    <div class="selector">
      <p>PATTERN</p>
    </div>
    <div class="dropdown">
      <div class="option selected">solid</div>
      <div class="option">sprinkles</div>
      <div class="option">polka dots</div>
      <div class="option">marbled</div>
    </div>
  </div>
  <div class="custom-dropdown colorPicker">
    <div class="selector">
      <p>COLOR</p>
    </div>
    <div class="dropdown">
      <div class="option">black</div>
      <div class="option selected">white</div>
    </div>
  </div>


  <br>
  <br>
  <div class="removeBead">
    <i class="fa fa-times-circle-o "></i><h4>REMOVE BEAD</h5>
  </div>
</div>
