<div class="designtool--guide">

  <div class="label labels--name">
    <h4>
      <i class="fa fa-arrow-circle-up"></i>
      This is where you <strong>title</strong> your masterpiece.
    </h4>
  </div>

  <div class="label labels--strand">
    <h4>
      <i class="fa fa-arrow-circle-up"></i>
      Pick a <strong>strand style</strong> that suits you!
    </h4>
  </div>

  <div class="label labels--length">
    <h4>
      <i class="fa fa-arrow-circle-up"></i>
      The longer length (80cm) is <strong>$2</strong> extra.
    </h4>
  </div>

  <div class="label labels--quantity">
    <h4>
      <i class="fa fa-arrow-circle-up"></i>
      How many do you want to order?
    </h4>
  </div>

  <div class="label labels--price">
    <h4>
      <i class="fa fa-arrow-circle-up"></i>
      + $5 flat shipping across the US.
    </h4>
  </div>

</div>
