<div class="designtool--guide">

  <div class="label labels--name">
    <h4>
      <i class="fa fa-arrow-circle-up"></i>
      This is where you <strong>title</strong> your masterpiece.
    </h4>
  </div>

  <div class="label labels--strand">
    <h4>
      <i class="fa fa-heart-o"></i>
      Pick a <strong>strand style</strong> that suits you!
    </h4>
  </div>

  <div class="label labels--length">
    <h4>
      <i class="fa fa-long-arrow-left"></i>
      <i class="fa fa-long-arrow-right"></i>
      The longer length (80cm) is <strong>$2</strong> extra.
    </h4>
  </div>

  <div class="label labels--quantity">
    <h4>
      <i class="fa fa-question-circle"></i>
      How many do you want to order?
    </h4>
  </div>

  <div class="label labels--price">
    <h4>
      <i class="fa fa-truck"></i>
      + $5 flat international shipping. Yay!
    </h4>
  </div>

  <div class="label labels--removeBead">
    <h4>
      <i class="fa fa-exclamation-circle"></i>
      You have to have at least one bead!
    </h4>
  </div>

</div>
