<div class="cart--banner">
  <h1>your <span class="sniglet">ORDER</span> has been <span class="waiting-for-the-sunrise">PLACED</span></h1>
  <h4>It'll be on its way shortly.</h4>
  <%= image_tag('graphics/heart_100x100.gif') %>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67846181-1', 'auto');
  ga('send', 'pageview');

</script>
