<nav class="navbar navbar-default footer">

    <ul class="nav navbar-nav navbar-left">
      <li>Meet the Makers</li>
      <br>
      <li>FAQ</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to '@michakajewelry', 'http://instagram.com/michakajewelry' %></li>
      <br>
      <li><%= link_to 'michakajewelry@gmail.com', 'mailto:michakajewelry.com' %></li>
    </ul>

</nav>
